body {
  margin: 0;
  background: rgb(0, 0, 0);
  color: white;
}

.App {
  text-align: center;
}

.Header {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  z-index: 2;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 10px;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 16px;
}

.Header .title {
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

.Header .footer {
  font-size: 8px;
  text-align: right;
  margin-top: -4px;
  margin-bottom: 2px;
}

.Header td:first-child {
  padding-left: 10px;
  min-width: 120px;
}

.Header td:last-child {
  padding-right: 10px;
  text-align: right;
}

.Header tr:last-child td {
  padding-bottom: 10px;
}

.Header table a {
  color: inherit;
}

.b900-24, .b900-34, .b900-58, .b900-off,
.b24-900, .b24-34, .b24-58, .b24-off,
.b34-900, .b34-24, .b34-58, .b34-off,
.b58-900, .b58-24, .b58-34, .b58-off,
.off-900, .off-24, .off-34, .off-58 {
  color: grey;
}

.Map {
  height: 100vh;
  z-index: 1;
}

.linktype {
  color: grey;
  font-size: 9px;
}

.bearing {
  font-size: 9px
}
